{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
<form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Edycja
                przepisu</h3></div>
            <div class="col d-flex justify-content-end mb-2">
                <button type="submit"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                    Zapisz
                </button>
            </div>
        </div>

        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2">Nazwa Przepisu</th>
                <td class="col-7">
                    <input class="w-100 p-1" name="name"  value="{{ receipe.name }}"  required id="id_name">
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Opis przepisu</th>
                <td class="col-7"><textarea name="description" class="w-100 p-1" rows="5" required id="id_description">{{ receipe.description }} </textarea>
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Przygotowani(minuty)</th>
                <td class="col-3">
                    <input class="p-1" type="number" name="preparation_time" required id="id_preparation_time" value="{{ receipe.preparation_time }}">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Sposób przygotowania</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Składniki</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                <textarea class="w-100 p-1" rows="10" name="method_preparation" required id="id_method_preparation">{{ receipe.method_preparation }}</textarea>
            </div>
            <div class="col-2"></div>

            <div class="col-5 p-4">





{{ form.ingredients }}

            </div>
            <p><label for="id_recipe_image">Zdjęcie:</label> Teraz: <a href="{{ receipe.recipe_image.url }}">{{ receipe.recipe_image.url }}</a>
<input type="checkbox" name="recipe_image-clear" id="recipe_image-clear_id">
<label for="recipe_image-clear_id">Wyczyść</label><br>
Zmień:
<input type="file" name="recipe_image" accept="image/*" id="id_recipe_image"></p>
        </div>
    </div>
</form>
{#<form action="" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Wyślij">#}
{#</form>#}
</div>
{% endblock content %}