{% extends '__base__.html' %}

{% block content %}
    <br>

    <h3>Czy napewno chcesz usunąć przepis numer {{ receipe_del.id }} ???</h3>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p> {{ receipe_del.name }}</p>
        <br>

        <input class="btn btn-danger" type="submit" value="Tak - usuń"/>
    </form>
    <br>
    <a href=" {% url 'recipe_list' %}  ">
        <button type="button" class="btn btn-success">Nie - wróc do moich przepisów</button>
    </a>
{% endblock %}